.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
img {
    max-height: 300px;
}
iframe {
    margin: 25px;
    float: left;
}
.contact {
    margin: 25px;
}

.button {
    margin: 20px;
}

footer {
    clear: both;
    position: relative;
    height: 40px;
    margin-top: -40px;
}